---
---

@import "{{ site.theme }}";

/* Disable the header that's added by GH Pages */
.markdown-body > h1:first-child {
  display: none !important;
}

.markdown-body img {
  max-width: 280px !important;
}

.whu-weapon {
  color: #FFF;
  background-color: #000;
  display: inline-block;
  padding: 5px 25px;
  font-weight: bold;
}